.container {
    overflow-y: scroll; 
    height: calc(100vh - 50px);
    margin-top: 20px;
    background-color: rgba(233, 236, 239, 0.8)
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}